<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--(1)出力先(ターゲット)の設定-->
  <targets>
    <target name="debugger" xsi:type="Debugger"
             />
  </targets>

  <!--(2)出力ルールの設定-->
  <rules>
    <!-- デバッグレベル以上のログをfileターゲットに出力-->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>

</nlog>