<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="protobuf-net" version="1.0.0.280" />
  <package id="Rx-Main" version="1.1.10425" />
  <package id="reactiveui-core" version="2.3.0.1" />
  <package id="Rx-Xaml" version="1.1.10425" />
  <package id="reactiveui-xaml" version="2.3.0.1" />
  <package id="NLog" version="2.0.0.0" />
</packages>