body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
}
div.wrap {
	margin: 0 auto;
	width: 600px;
}
div.navigation {
	display: none;
}
div.navButtons {
	display: none;
}
div.logo {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
h1 {
	font-size: 18px;
}
h2 {
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
ul.usagelist {
	margin: 0;
	padding: 0;
	padding-left: 1em;
	overflow: auto;
}
ul.usagelist li {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
	width: 50%;
}
input.input-text, input.input-password {
	width: 40%;
	font-size: 14px;
	padding: 3px;
}
select {
	width: 41%;
	font-size: 14px;
	padding: 3px;
}

select option {
}
fieldset {
	margin-bottom: 18px;
	border-right: none;
	border-left: none;
	border-bottom: none;
	background-color: #efefef;
	padding: 0 10px 10px 10px;
}
fieldset#environment {
	background-color: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
/* hide the env check for the VMs */
.install-vm fieldset#environment {
	display: none;
}
legend {
	font-weight: bold;
	font-size: 16px;
}
div.success {
	border: 1px solid #e9ed88;
	background-color: #fbffb6;
	padding: 3px;
}
div.success a {
	color: #000;
}
div.existing {
	margin-top: 10px;
	border-top: 1px solid #aaa;
	background-color: #fff;
	border-bottom: 1px solid #aaa;
	padding: 6px;
	text-align: center;
	margin-bottom:10px;
}
div.existing p {
	margin: 0;
	padding: 0;
	font-size: 11px;
}
div.success div {
	background: transparent url(/skins/common/icons/icon-check.gif) no-repeat scroll 0%;
	color: #2DA503;
	font-size: 15px;
	font-weight: bold;
	padding:5px 5px 5px 30px;
}
div.waitnotdone h2 {
	padding: 6px 0 0 0;
	margin: 6px 0;
	font-weight: bold;
	font-size: 16px;
	color: #f00;
}
div.waitnotdone, div.cleanup {
	padding: 6px;
	border: 1px solid #f00;
	margin-top: 6px;
}
div.cleanup {
	margin-top: 0px;
	border: none;
}
div.waitnotdone h2 {
	margin: 0;
	padding: 0;
}
pre.instructions {
	margin: 2px 0 0 16px;
	padding: 2px 0 6px 16px;
}
.table {
	padding-top:15px;
	width: 100%;
}
table td {
	width: 65%;
	padding: 6px 2px 0px 2px;
}
.key {
	float:left;
	padding-right:20px;
	padding-top:3px;
	text-align:right;
	width:35%;
}
.description {
	color:#333333;
	font-size:11px;
	padding-bottom:10px;
	padding-left:220px;
	padding-top:0;
}
div.submit {
	text-align: center;
	padding-bottom: 10px;
}
div.submit input {
	font-weight: bold;
	font-size: 18px;
	padding: 4px;
}

strong.error, strong.warn, strong.success {
	text-transform: uppercase;
}
ul li.error {
	color: #f00;
}
ul li.warn {
}
div.message {
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	color: #f00;
	font-size: 14px;
}
form.config {
	margin-top: 10px;
	padding-top: 10px;
}
/***
 * Upon success, the login screen
 */
form.login {
	text-align: center;
	padding: 8px 0;
}
form.login input.submit {
	font-size: 18px;
	padding: 4px;
	font-weight: bold;
}
span.error {
	color: #A00B0B;
	display: none;
	font-size: 11px;
	font-style: italic;
}
div.navigation {
	display: none;
}
