fieldset {
	padding:0 10px 10px 20px;
}
fieldset#environment {
	margin-left:0;
}

div.navigation {
	display: block;
	float: left;
	margin-right: 15px;
}
.nav_item {
	clear:both;
	margin: 8px;
	overflow:auto;
}
.nav_item div {
	background-color: #BEC0C2;
	border: 1px solid #333335;
	clear: both;
	cursor: pointer;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
}

#box_0,
#box_1,
#box_2,
#box_3,
#box_4,
#box_5 {
	padding:4px;
	
}
.nav_item div.step_selected {
	background-color: #25587E;
	color:#ffffff;

}
.nav_item div.step_complete {
	background-color: #BEC0C2;
}
.nav_item div.step_error {
	background-color: #921B1D;
	color:#ffffff;
}
.nav_item span {
	float:left;
	font-size:small;
	margin-top:2px;
	padding-left:5px;
	width:200px;
}
.nav_item span.step_selected {
	color: #25587E;
}
.nav_item span.step_complete {
	color: #333335;
}
.nav_item span.step_error {
	color: #921B1D;
}
div.navButtons {
	display: block;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #fff;
}
.backButton {
	float: left;
}
.nextButton {
	float: right;
	font-weight: bold;
}

div.wrap {
	margin:0 auto;
	width:730px;
}

.key {
	width: 100%;
	text-align: left;
	padding:5px 0;
}

.description {
	padding: 5px 0px;
	font-size: 11px;
	color: #333;
}
input.input-text, input.input-password {
	font-size:14px;
	padding:3px;
	width:80%;
}

p {
	margin-bottom:10px !important;
}
