<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Neith.Logger.Logger" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Neith.Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Neith.Logger.Logger>
            <setting name="LogDirectory" serializeAs="String">
                <value>.\data\log</value>
            </setting>
        </Neith.Logger.Logger>
        <Neith.Logger.Properties.Settings>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
        </Neith.Logger.Properties.Settings>
    </applicationSettings>
</configuration>