@charset "UTF-8";
/**
 * $Id: setting.css 7 2010-09-19 10:30:39Z youichi $
 */

* {
	margin: 0;
	padding: 0;
}

body {
	width: 300px;
	height: 250px;
}

#tab {
	border-bottom: black 1px solid;
}

#setting1 .TimerStr {
	border: 1px #7f9db9 solid;
	padding: 1px;
}

#setting1 .SoundStr {
	background-color: #ebebe4;
	border: 1px #7f9db9 solid;
	padding: 1px;
}
