<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Main" version="1.1.10425" />
  <package id="Rx-Xaml" version="1.1.10425" />
  <package id="Rx-Testing" version="1.1.10425" />
  <package id="Extended.Wpf.Toolkit" version="1.4.0" />
  <package id="Google.GData.Client" version="1.6.0.0" />
  <package id="Google.GData.Extensions" version="1.6.0.0" />
  <package id="Google.GData.AccessControl" version="1.6.0.0" />
  <package id="Google.GData.Documents" version="1.6.0.0" />
  <package id="Google.GData.Spreadsheets" version="1.6.0.0" />
  <package id="GDataDB" version="0.2.0.0" />
  <package id="GDataDB.Linq" version="0.2.0.0" />
</packages>